h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-counter{
    height: 100%;
    width: 100%;
    background-color: blue;
}

.counter{
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 35px 2px rgb(45, 29, 70);
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    resize: none;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 20px;
}

.characters, span{
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}